.arrowBack {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    cursor: pointer;
    /*left: 168px;
    top: 84px;
    padding: 0 20px;*/
    width: 1008px;
}


.title {
    padding: 10px;
}


