.header {
  margin-bottom: 44px;
  height: 60px;
  width: 100%;
  background-color: #FCFCFC;
  z-index: 1;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header_container {
  min-width: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .2);
}

.imgBlock {
  padding-top: 10px;
  margin : 0px 60px 10px;
}

.imgBlock img {
  height: 50px;
  width: 80px;
}
.button_block{
  margin : 5px 50px 10px;
}
.button{
  margin-top: 5px !important;
  width: 113px;
  height: 36px;
  border-radius: 30px !important;
  background: #366EFF !important;
  text-transform: none !important;
  font-weight: 500 !important;
  font-size: 16px !important;

}
.dropdown {
  position: relative;
  height: 49px;
  cursor: default;
  width: 100vh;
}

.dropdownContent {
  position: absolute;
  width: 122px;
  height: 100px;
  top: 53px;
  right: 6px;
  padding: 5px 19px;
  background-color: #fff;
  border: 1px solid #CFCFCF;
  border-radius: 4px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.06);
  z-index: 1;
  transform-origin: 0 0;
  transform: scaleY(0);
  transition: 0.15s linear;
}

.dropdownContent div {
  margin-top: 16px;
  cursor: pointer;
}

.dropdownContent svg {
  margin-top: 2px;
}

.dropdownContent span {
  margin-left: 12px;
  color: #0D0C0B;
  font-weight: 400;
  font-size: 15px;
  vertical-align: top;
}

.dropdown:hover .dropdownContent {
  transform: scaleY(1);
}

.dropdownContent div:hover {
  transform: scale(1.05);
}

.dropdownContent::before, .dropdownContent::after {
  content: '';
  position: absolute;
  right: 7px;
  top: -12px;
  border: 5px solid transparent;
  border-bottom: 7px solid #CFCFCF;
}

.dropdownContent::after {
  top: -10px;
  border-bottom: 8px solid #fff;
}

