.packs_wrapper {
    width: 90%;
    margin: 0 auto;
}

.packs_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    width: 127px;
    height: 27px;
    top: 99px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.packs_tools {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10px;
}

.number {
    display: inline-block;
    background-color: #fff;
    padding: 3px 0;
    width: 35px;
    text-align: center;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
}

.sortUp {
    cursor: n-resize;
    background-repeat: no-repeat;
    background-position: 100% center;
    padding-right: 35px !important;

}

.maneColumn {
    user-select: none;
    text-decoration: none;
    color: black;
}

.maneColumn:hover {
    color: #525252;
}

.sortDown {
    cursor: s-resize;
    background-repeat: no-repeat;
    background-position: 100% center;
    padding-right: 35px !important;
}

.nav:hover {
    color: #525252;
}

.paginatorBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border-radius: 30px !important;
    width: 125px;
    height: 32px;
    background-color: #366EFF !important;
    margin-top: 45px !important;
    margin-bottom: 31px !important;
    text-transform: none !important;
    font-size: 14px !important;
    font-weight: 500;
    top: 12.75%;
    bottom: 84.8%;
}

.pack_list {
    height: 27px;
    left: 136px;
    top: 99px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.search_title{
    position: absolute;
    width: 49px;
    height: 18px;
    top: 166px;
    left: 169px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #000000;

}
