.button {
    padding:0 !important;
    fontFamily:'Montserrat' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    text-decoration-line: underline !important;
    color: #366EFF !important;
    text-transform: none !important;

}