.header {
  margin-bottom: 44px;
  height: 60px;
  min-width: 80vh;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .2);
  background-color: #FCFCFC;
  z-index: 1;
}

.container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgBlock {
  padding-top: 10px;
  margin : 0px 60px 10px;
}

.imgBlock img {
  height: 50px;
  width: 80px;
}
.button_block{
  margin : 5px 50px 10px;
}
.button{
  margin-top: 5px !important;
  width: 113px;
  height: 36px;
  border-radius: 30px !important;
  background: #366EFF !important;
  text-transform: none !important;
  font-weight: 500 !important;
  font-size: 16px !important;

}