.app_wrapper {
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.6;
}
.app_container{
    height: 100%;
    width: 80%;
    margin: 0 auto;
}
.circular {
    position: fixed;
    top: 30%;
    text-align: center;
    width: 100%;
}