.img_error {
    height: 550px;
    width: 600px;
    background-position: 80% 0;
}

.error404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error_btn {
    background: #143761;
    border-radius: 5px;
}