.wrapper {
    width: 90%;
    margin: 0 auto;
}
.packListHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: end;
    margin-bottom: 24px;
}

.button{
    border-radius: 30px !important;
    width: 175px;
    height: 36px;
    background-color: #366EFF !important;
    margin-top: 45px !important;
    margin-bottom: 31px !important;
    text-transform: none !important;
    font-size: 16px !important;
    font-weight: 500;
}