.packs_wrapper {
    width: 90%;
    margin: 0 auto;
}
.packs_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.packs_tools {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 24px;
}

.number {
    display: inline-block;
    background-color: #fff;
    padding: 3px 0;
    width: 35px;
    text-align: center;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
}

.sortUp {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 100% center;
    padding-right: 35px !important;

}

.sortDown {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 100% center;
    padding-right: 35px !important;
}
/*
.pagination {
    display: flex;
    justify-content: center;
}*/
