.title_picture{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    line-height: 20px;


}

.change_cover{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline !important;
    color: #366EFF;
}

.upload_picture{
    display: flex;
    justify-content: center;
    align-items: center;


    background: #D9D9D9;
}